.container {
    float: right;
}

.noticia {
    background: linear-gradient(170deg, rgba(255, 247, 247, 1) 0%, rgb(255, 173, 173) 100%);
    border: 1px solid black;

    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    float: left;
    flex-wrap: wrap;

    font-family: "opensans-regular", arial, sans-serif;
    color: #333;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;

    width: 600px;
    height: 500px;
}

.noticia h1 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #c4170c;
}

.noticia img {
    padding: 10px;
    float: left;
}

.galeria-link {
    float: right
}